header{
  background-color: wheat;
}
main{
  background-color: gray;
}
footer{
  background-color: aquamarine
}
nav:hover{
  color: rgb(6, 6, 161);
  background-color:rgb(27, 221, 221);
  

}
p.words{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gold ;
}
h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  color: gold; 
}